@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style:normal;
  
}

@theme {
  --text-course-details-heading-small: 26px;
  --text-course-details-heading-small--line-height: 36px;

  --text-course-details-heading-large: 36px;
  --text-course-details-heading-large--line-height: 44px;

  --text-home-heading-small: 44px;
  --text-home-heading-small--line-height: 52px;

  --text-home-heading-large: 64px;
  --text-home-heading-large--line-height: 72px;

  --text-default: 15px;
  --text-default--line-height: 21px;
}
.char {
  display: inline-block;
  transform-origin: center;
  will-change: transform, opacity;
}