@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: 400; */
  /* font-style:normal; */
  
}

@theme {

  /* Home */

  --text-home-heading-small: 28px;
  --text-home-heading-small--line-height: 34px;

  --text-home-heading-large: 48px;
  --text-home-heading-large--line-height: 56px;

  /* Course Details */

  --text-course-details-heading-small: 30px;
  --text-course-details-heading-small--line-height: 40px;

  --text-course-details-heading-large: 42px;
  --text-course-details-heading-large--line-height: 54px;

  /* Default */

  --text-default:16px;
  --text-default--line-height:26px;


  
}
.char {
  display: inline-block;
  transform-origin: center;
  will-change: transform, opacity;
}
